body{
  overflow: hidden;
  margin: 0;
}

h1{
  color: #003250;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

h2{
  color: #003250;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

h3{
  color: #003250;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 28pt;
}

h4{
  color: #003250;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 18pt;
}


#creamTree{
  position: absolute;
  bottom: 0;
  left: -300px;
  z-index: -1;
}


header{
  position: relative;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;

}


.logo {

}

#selectorWrap{
  display: flex;
}

#blueTree{
  width: 44px;
  height: 49px;
}

header h4{
  margin-left: -75px;
  margin-top: 20px;
}

#bigSelector{
  margin-left: 10px;
  margin-top: 0px;
  width: 350px;
  height: 65px;
  font-size: 20pt;
}

.selector{
  min-width: 200px;
  background-color: #FBF9F4;
  border-radius: 4px;
  border: 2px solid #F1E8CF;
  color: #003250;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;

}

.accountButton{
  margin-right: 5px;
}

.lightButton{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #FBF9F4;
  border-radius: 4px;
  border: 2px solid #F1E8CF;
  color: #6B3E17;
  font-size: 13px;
  cursor: pointer;
}


.accountButton img{
  margin-right: 5px;
  margin-top: 3px;
  cursor: pointer;
}


.backToTreeButton{
  width: 65px;
  height: 38px;
  background-color: #FBF9F4;
  border-radius: 4px;
  border: 2px solid #FBF9F4;
  color: #6B3E17;
  cursor: pointer;
}

.greenBtn{
  background-color: #7FB7AB;
  border-radius: 4px;
  border: 2px solid #006750;
  margin-right: -4px;
  color: #F6EFDC;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 13px;
  cursor: pointer;
}

.greenBtn:hover{
  background-color: #002019;
  border-radius: 4px;
  border: 2px solid #006750;
  margin-right: -4px;
  color: #F6EFDC;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 13px;
  cursor: pointer;
}


/* START vertically tabbed content*/

.container{
  width: 90%;
  height: 100%;
  right: 0;
  bottom: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
}
/*!
 * inspired by: https://codepen.io/nik-savchenko/pen/xDIAe
 */
.tabordion .content{
  width: 100%;
  height: 100%;
  margin-top: 60px;
}

.tab-content{
  background-color: white;
  width: 100%;
  height: 100%;
  min-height: 400px;
  max-height: 500px;
  margin: 0px;
  font-family: Avenir, "Avenir Roman", "Helvetica", Helvetica, sans-serif;
  overflow-y: scroll;
  display: none;
}

.open{
  display: block;
}


.tabordion {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 100px;
  height: auto;
  width: 100%;
  height: 80%;
  right: 0;
  bottom: 0;
  background: white;
}


.tabordion .menu{
  position: absolute;
  left: -233px;
  top: 225px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

}

.tabordion .menu label{
  border-radius: 8px 8px 0px 0px;
  cursor: pointer;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
  position: relative;
  width: 140px;

}

.tab{
  background: #8DBAB0;
  opacity: 40%;
  color: grey;
  font-style: italic;
  font-weight: 100;
}

.activetab{
  background: #006750;
  color: #FFFFFF;
  opacity: 100%;
  font-style: normal;
  font-weight: 700;
}

.paneHeader{
  width: 90%;
  height: 60px;
  background: #006750;
  padding: 0;
  position: fixed;
}

/* START -- Each tabordion's sections different */
 /*Notes*/
.notes-content form{
  margin-top: 60px;
  height: 100%;
}



  /*Screenshots*/
#screenshotsFilter{
  text-align: center;
  margin: auto;
  width: 700px;
  display: flex;
  color: white;
  font-family: Avenir, "Avenir Roman", "Helvetica", Helvetica, sans-serif;
  justify-content: space-between;
  padding-top: 20px;
}

#screenshotsFilter input{
  justify-content: space-between;
  font-weight: lighter;

}

/*this style Inspired by: http://codepen.io/vybz/pen/meeEeZ*/
#gallery {
  border: 1px solid #efefef;
  padding: 4px 0 0 0;
  margin-top: 60px;
}

#gallery img {
  margin: 8px;
  width: 214px;
  cursor: pointer;
  border-radius: 3px;
}

#gallery img:hover {
  margin: 8px;
  opacity: .8;
}

/*END style Inspired by: Copyright (c) 2017 by Dudley Storey (http://codepen.io/dudleystorey/pen/Kgofa)*/*/

  /*History*/
.history-content .paneHeader span{
  float: right;
  right: 0;
}

#worksCited{
  width: 185px;
  height: 38px;
  background-color: #FBF9F4;
  border-radius: 4px;
  border: 2px solid #F1E8CF;
  color: #6B3E17;
  font-size: 12pt;
  margin-top: 10px;
  margin-right: 66px;

}

#printBtn{
  margin-top: 10px;
  margin-right: 85px;
}

#historyTable{
  margin-top: 60px;
}
/* END -- Each tabordion's different pane header content*/



/* END vertically tabbed content*/



/* --------- ^^ Assets Tab Page ^^ --------- */



/* -------- SETTINGS PAGE -------- */
.assetsHeader h1{
  margin-top: 0;
}
#settingsBackground{
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #FBF9F4;
}
/* tabbed content */
/*-- inspired by http://codepen.io/anon/pen/wJymGK --*/

.tabPanel-widget {
  position: relative;
  width: 800px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;

}

/**
 * because labels come first in source order - we use z-index to move them in front of the headings
 */
.tabPanel-widget > label {
  position: absolute;
  z-index: 1;
}

/**
 * labels and headings must share same values so grouping declarations in this rule prevents async edits (risk of breakage)
 * line-height == height -> vertical centering
 * the width dictates the offset for all headings but the first one: left offset = width * number of previous heading(s)
 * note that width and offset of label/heading pair can be customized if necessary
 */

.tabPanel-widget > label,
.tabPanel-widget > h2 {
  font-size: 1.1em;
  width: 11em;
  height: 2em;
  line-height: 2em;
  font-style: italic;


}

/**
 * position:relative is for the markers (the down arrow in tabs)
 */
.tabPanel-widget > h2 {
  position: relative;
  margin: 0;
  text-align: center;
  color: #006750;
}

.tabPanel-widget > label {
  border-bottom: 1px solid #006750;
}

/**
 * all first level labels and headings after the very first ones
 */
.tabPanel-widget > label ~ label,
.tabPanel-widget > h2 ~ h2 {
  position: absolute;
  top: 0;
}


/**
 * We target all the label/heading pairs
 * we increment the :nth-child() params by 4 as well as the left value (according to "tab" width)
 */

.tabPanel-widget label:nth-child(1),
.tabPanel-widget h2:nth-child(3) {
  left: 6em;
}

.tabPanel-widget label:nth-child(5),
.tabPanel-widget h2:nth-child(7) {
  left: 15em;
}

.tabPanel-widget label:nth-child(9),
.tabPanel-widget h2:nth-child(11) {
  left: 25em;
}

.tabPanel-widget label:nth-child(13),
.tabPanel-widget h2:nth-child(15) {
  left: 35em;
}

/**
 * we visually hide all the panels
 */
.tabPanel-widget input + h2 + div {
  position: absolute !important;
  margin-top: 30px;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/**
 * we reveal a panel depending on which control is selected
 */
.tabPanel-widget input:checked + h2 + div {
  position: static !important;
  padding: 1em !important;
  height: auto !important;
  width: auto !important;
}

/**
 * shows a hand cursor only to pointing device users
 */
.tabPanel-widget label:hover {
  cursor: pointer;
}

.tabPanel-widget > div {
  padding: 1em;
}

.tabPanel-widget form {
  color: #003250;
  font-family: Avenir, "Avenir Roman", "Helvetica", Helvetica, sans-serif;
  font-size: 11pt;
  width: 532px;
  margin-left: auto;
  margin-right: auto;
}


.tabPanel-widget input[type="text"]{
  border-color: #F1E8CF;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  width: 337px;
  height: 30px;
  margin-bottom: 17px;
}

#profileInfoForm input[type="text"]{
  margin-left: 112px;
}

#updatePswdForm input[name="currentPswd"]{
  margin-left: 70px;
}

#updatePswdForm input[name="newPswd"]{
  margin-left: 89px;
}

#updatePswdForm input[name="VnewPswd"]{
  margin-left: 28px;
}

.tabPanel-widget input[type="email"]{
  border-color: #F1E8CF;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  width: 337px;
  height: 30px;
  margin-bottom: 17px;
}


input[type=text]:focus,
input[type=email]:focus{
  outline: none;
  border-color: #5C3516;
}


#profileInfoForm input[type="email"]{
  margin-left: 145px;
}

#profileInfoForm #checkboxes{
    margin-left: 185px;
    display: flex;
}

#school{
  margin-left: 103px;
}

.tabPanel-widget textarea{
  border-color: #F1E8CF;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  width: 337px;
  height: 30px;
}
.tabPanel-widget table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.tabPanel-widget table th{
  width: 190px;
  height: 30px;
  padding: 0;

}



.tabPanel-widget table .features{
  color: #003250;
  font-family: Avenir, "Avenir Roman", "Helvetica", Helvetica, sans-serif;
}

.tabPanel-widget table .free{
  background-color: #4A4A4A;
  color: white;
}

.tabPanel-widget table .plus{
  background-color: #003250;
  color: white;
}

.tabPanel-widget table .premium{
  background-color: #0B6D57;
  color: white;
}

.tabPanel-widget table td{
  width: 190px;
  height: 30px;
  padding: 0;
  margin: 0;
}

.freetd{
  background-color: #C9C9C9;
}

.plustd{
  background-color: #7CA4BB;
}

.premiumtd{
  background-color: #A1CDC3;
}


/**
 * we hide section radio buttons and also remove them from the flow
 */
.tabPanel-widget input[name="tabs"] {
  opacity: 0;
  position: absolute;
}


/**
 * this is to style the tabs when they get focus (visual cue)
 */

.tabPanel-widget input[name="tabs"]:focus + h2 {
  outline: 1px dotted #000;
  outline-offset: 10px;
}


/**
 * reset of the above within the tab panel (for pointing-device users)
 */
.tabPanel-widget:hover h2 {
  outline: none !important;
}

/**
 * visual cue of the selection
 */
.tabPanel-widget input[name="tabs"]:checked + h2 {
  font-style: normal;
  font-weight: 700;
}

/**
 * the marker for tabs (down arrow)
 */
.tabPanel-widget input[name="tabs"]:checked + h2:after {
  content: '';
  margin: auto;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #006750;
}

@media print {

  img, header, .tabordion label, #worksCited{
    display: none;
  }


} /*put display none for everything EXCEPT what I want to print. use print button to see what is going to show when you do this; then STYLE it better in here*/

#explanation{
  width: 100%;
  text-align: center;
}




/* END tab panel widget*/


/***Browsing page style ***/

/*Tool bar*/

#toptoolbar{
  width: 100%;
  height: 30px;
  background-color: #006750;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#toptoolbar p{
  color: #F1E8CF;
}

/* The toggle - the box around the slider */
.togglehiders{
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 5px;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}

/* Hide default HTML checkbox */
.toggle input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #A50418;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #8CD3AA;
}

input:focus + .slider {
  box-shadow: 0 0 1px #8CD3AA;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

#addToSiteBlockList {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;

}

/*tip carousel*/
/*inspired by: http://codepen.io/cassidoo/pen/MyaWzp*/
#tipcarousel img{
  z-index: 2;
}

.content-slider {
  width: 100%;
  height: 30px;
}

.tipSlider {
  height: 30px;
  width: 300px;
  margin-top: -30px;
  overflow: hidden;
  position: relative;
}

.mask {
  overflow: hidden;
  height: 30px;
  background: #89AEC2; /* For browsers that do not support gradients */
  background: linear-gradient(#010F17, #89AEC2, #010F17); /* Standard syntax - only has to work in Chrome */

}

.tipSlider ul {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
}

.tipSlider li {
  width: 300px;
  height: 30px;
  position: absolute;
  top: -35px;
  list-style: none;
}

.tipSlider li:hover{
  cursor: pointer;
}

.tipSlider .tip {
  font-size: 14px;
  font-style: italic;
  line-height: 1.0;
  color: white;
}


.tipSlider li.anim1 {
  -moz-animation: cycle 15s linear infinite;
  -webkit-animation: cycle 15s linear infinite;
  animation: cycle 15s linear infinite;
}

.tipSlider li.anim2 {
  -moz-animation: cycle2 15s linear infinite;
  -webkit-animation: cycle2 15s linear infinite;
  animation: cycle2 15s linear infinite;
}

.tipSlider li.anim3 {
  -moz-animation: cycle3 15s linear infinite;
  -webkit-animation: cycle3 15s linear infinite;
  animation: cycle3 15s linear infinite;
}

.tipSlider li.anim4 {
  -moz-animation: cycle4 15s linear infinite;
  -webkit-animation: cycle4 15s linear infinite;
  animation: cycle4 15s linear infinite;
}

.tipSlider li.anim5 {
  -moz-animation: cycle5 15s linear infinite;
  -webkit-animation: cycle5 15s linear infinite;
  animation: cycle5 15s linear infinite;
}

.tipSlider:hover li {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@-moz-keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 35px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -35px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -35px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -35px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@-moz-keyframes cycle2 {
  0% {
    top: -35px;
    opacity: 0;
  }
  16% {
    top: -35px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 35px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -35px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -35px;
    opacity: 0;
    z-index: -1;
  }
}

@-moz-keyframes cycle3 {
  0% {
    top: -35px;
    opacity: 0;
  }
  36% {
    top: -35px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
  }
  60% {
    top: 35px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -35px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -35px;
    opacity: 0;
    z-index: -1;
  }
}

@-moz-keyframes cycle4 {
  0% {
    top: -35px;
    opacity: 0;
  }
  56% {
    top: -35px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 35px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -35px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -35px;
    opacity: 0;
    z-index: -1;
  }
}

@-moz-keyframes cycle5 {
  0% {
    top: -35px;
    opacity: 0;
  }
  76% {
    top: -35px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 35px;
    opacity: 0;
    z-index: 0;
  }
}

@-webkit-keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 35px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -35px;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: -35px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -35px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -35px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes cycle2 {
  0% {
    top: -35px;
    opacity: 0;
  }
  16% {
    top: -35px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 35px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -35px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -35px;
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes cycle3 {
  0% {
    top: -35px;
    opacity: 0;
  }
  36% {
    top: -35px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: 35px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -35px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -35px;
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes cycle4 {
  0% {
    top: -35px;
    opacity: 0;
  }
  56% {
    top: -35px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 35px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -35px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes cycle5 {
  0% {
    top: -35px;
    opacity: 0;
  }
  76% {
    top: -35px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 35px;
    opacity: 0;
    z-index: 0;
  }
}

.toTreeAssets{
  cursor: pointer;
}


/* slideout inspired by  https://www.w3schools.com/howto/howto_js_sidenav.asps  */

/*Open button*/
#sidenavOpen{
  position: fixed;
  right: 0;
  margin-top: 60px;
}



/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    margin-top: 30px;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    display: flex;
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 60;
    left: 0px;
    font-size: 36px;
    float: left;
}

.sidenav .inner{
  position: absolute;
  height: 100%;
  width: 250px;
  background-color: #006750;
  float: right;
  top: 0;
  right: 0;
  padding: 5px;
  text-align: center;
}

.sidenav .inner textarea{
  position: relative;
  height: 60%;
}

.sidenav .inner .lightButton{
  margin-top: 15px;
  bottom: 0px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-right .5s;
  margin: 0px;
  padding: 0px;

}

iframe{
  display: block;
  height: 100vh;        /* Viewport-relative units */
  width: 100%;
  border: none;
}
